
<html>
    <head>
        <title>Lin - Tura Turu Sukses</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="sejati-nya manusia hanya lah makhluk untuk menyembah, hidup biar lah berjalan atas kehendak yang kuasa. urusan makan biar robot yang berjalan, sisa-nya kita hanya bisa beristirahat dan tidur">
        <link rel="shortcut icon" href="https://seeklogo.com/images/L/L-logo-2BD4B04DA4-seeklogo.com.png">
       <link rel="preconnect" href="https://fonts.gstatic.com">
       <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=VT323&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/img.css">
      <link rel="stylesheet" href="/css/style.css">
      <style>
   
    </style>
    
    </head>
   
    <body>
      <div class="icon-bar">
        <a href="/" class="haha">LIN</a>
      <a href="/quote" class="hehe">QUOTE</a>
       <a href="/uler" class="hehe">ULER</a>
      <a href="/about" class="huhu">ABOUT</a>
      </div>
        <div class="content">
            <h3 class="heading">Lin.</h3>
            <% if(urlShort == false){ %>

          <form method="post" action="/uler/post">
            <label>Long URL ::</label><br>
            <input type="url"  name="url" class="input" id="url"><br><br>
            <input type="submit" name="submit" id="submit" class="btn" value="Short URL">
          </form>
    <% }else{ %>
                  <label>Long URL ::</label><br>
            <input type="url"  name="url" class="input" id="url" value="<%=LongUrl;%>"><br><br>
              <label>Short URL ::</label><br>
            <input type="url"  name="short" class="input" id="short" value="<%=urlShort%>"><br><br>
          <% } %>
         
          
  

            <footer style="text-align:center;">
            <a href="https://instagram.com/xalinko" target="_blank"><i class="fa fa-instagram"></i></a>
             <a href="https://github.com/justalinko" target="_blank"><i class="	fa fa-github"></i></a>
             <a href="https://xalinko.com" target="_blank"><i class="fa fa-linux"></i></a>
             
            </footer>
          
        </div>
    </body>
</html>