html,body{background:#eee;color:#444;}
.content{width:60%;margin:0 auto;}
h3.heading{font-size:120px;text-align:center;font-family: 'VT323', monospace;}
.quote{font-size:30px;text-align:center;font-family:'Shadows Into Light', cursive;margin-top:0;}
a{color:#000;text-decoration:none;}
a:hover{color:#333;}
.fa{font-size:20px;padding:3px;}
.icon-bar {
position: fixed;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.icon-bar a {
display: block;
text-align: center;
padding: 16px;
transition: all 0.3s ease;
color: white;
font-size: 20px;

font-family: 'VT323',monospace;
}
.haha{background: #555;}.hehe{background: #444;}.huhu{background: #333;}
.icon-bar a:hover , .haha:hover,.hehe:hover,.huhu:hover {
background-color: #000;
}